JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8080/auth/callback

# Comma-separated list of authorized email addresses or domain suffixes (e.g. user@gmail.com, @yourdomain.com)
ALLOWED_EMAILS=

# Target application port or url to proxy requests to (e.g. http://localhost:8000)
TARGET_URL=

# Asymmetric RSA Private Key in PEM format (for JWKS RS256 token signing)
# Generate using: openssl genrsa 2048
RSA_PRIVATE_KEY=

# Cloud Provider Mode (Set only one to true if required)
GCP_ONLY=false

AWS_ONLY=false
AWS_COGNITO_TOKEN_URL=
AWS_CLIENT_ID=
AWS_CLIENT_SECRET=

AZURE_ONLY=false
AZURE_TARGET_RESOURCE=

KUBERNETES_ONLY=false

# Rate Limiter Configurations
RATE_LIMIT_PER_SEC=3.0
RATE_BURST=5.0
S2S_RATE_LIMIT_PER_SEC=30.0
S2S_RATE_BURST=100.0